<h2>Admin</h2><!--Remove Me-->

<div class="row">
  <span class="pull-right">
    <button>
      Add New
    </button>
  </span>
  <h3>Companies</h3>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th># Of tests</th>
      <th>Current Status</th>
      <th>Most Recent</th>
      <th>Initial Suite</th>
    </tr>
    <tr>
      <td>Kapow</td>
      <td>5</td>
      <td>Completed</td>
      <td>2013-11-15 5pm</td>
      <td>2013-10-1</td>
    </tr>
  </table>
</div>

<div class="row">
  <span class="pull-right">
    <button>
      Add New User
    </button>
  </span>
  <h3>Users</h3>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Email</th>
      <th>Joined</th>
      <th>Last Test Run</th>
    </tr>
    <tr>
      <td>Brett Gilbert</td>
      <td>Kapow Events</td>
      <td>bret@kapowevents.com</td>
      <td>2013-11-15 5pm</td>
      <td>2013-10-1</td>
    </tr>
  </table>
</div>

<div class="row">
  <span class="pull-right">
    <button>
      Run A Report
    </button>
  </span>
  <h3>Reports</h3>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Company</th>
      <th>Success/Failures</th>
      <th>Date/Time</th>
      <th>Status</th>
      <th>Execution time</th>
    </tr>
    <tr>
      <td>Kapow Events</td>
      <td>4 /1</td>
      <td>2013-11-15 @ 4pm</td>
      <td>Passed</td>
      <td>17 minutes</td>
    </tr>
  </table>
</div>