<hr>

<div class="text-center">
  <h3>Looks like you haven't run a test yet.</h3>
  <p>To run your first test just hit the button below.</p>
  <%= render partial: "reports/report_start", locals: { suite: suite } %>
</div>

<hr>