<hr/>

<div class="text-center">
  <h3>Looks like we haven't run any of your tests yet.</h3>
  <p>Let's change that!</p>
  <%= render partial: "reports/report_start", locals: { suite: suite } %>
</div>

<hr/>