
<hr/>

<div class="text-center">
  <h3>Looks like you don't have any tests yet.</h3>
  <%= button_to 'Let\'s Create Your First Test', new_test_case_path, method: :get, class: "btn btn-lg btn-primary" %>
</div>
