<span class="pull-right">
  <%= button_to 'New Test', new_test_case_path, method: :get, class: "btn btn-primary" %>
</span>
<h3>Your Tests</h3>
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th></th>
  </tr>
  <% current_user.company.test_suite.test_cases.each do |test_case| %>
    <tr>
      <td><%= test_case.title %></td>
      <td><%= test_case.status %></td>
      <td><%= link_to '(edit)', edit_test_case_path(test_case) %></td>
    </tr>
  <% end %>
</table>