<hr>
<div class="text-center">
  <h3>Looks like you don't have any test cases yet.</h3>
  <p>Let's get you started with your first test.</p>
  <%= button_to 'Create Your First Test', new_test_case_path, method: :get, class: "btn btn-lg btn-primary" %>
</div>
<hr>