<h2>User</h2><!--Remove Me-->

<div class="row">
  <span class="pull-right">
    <button>
      Add A New Test
    </button>
  </span>
  <h3>Your Tests</h3>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
    <tr>
      <td>Test A User Can Sign In</td>
      <td>Passing</td>
      <td><a>(edit)</a><a>(delete)</a></td>
    </tr>
  </table>
</div>

<div class="row">
  <span class="pull-right">
    <button>
      Run A Report
    </button>
  </span>
  <h3>Reports</h3>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Date/Time</th>
      <th>Status</th>
      <th>Execution time</th>
    </tr>
    <tr>
      <td>2013-11-15 @ 4pm</td>
      <td>Passed</td>
      <td>17 minutes</td>
    </tr>
  </table>
</div>