<% content_for :title do %>
Dashboard
<% end %>
	
<div class="row">
	<p>This is your dashboard. There are many like it, but this one is yours.</p>
	<p>Admin's will be able to edit and manage all user/company info. They will be able to manage all reports from here.</p>
	<p>Users should be able to keep an eye on their tests and reports.</p>
	
	<h3>To Do:</h3>
	<ul>
		<li><strike>Edit my (current user's) account info.</strike></li>
		<li>Build out scaffolding for managing users &amp; companies.</li>
		<li>Companies individual view pages should essentially be like viewing their dashboard (but with extra powers probably).</li>
		<li>User dashboards should list current tests in company's test suite with current status. Should also be able to view results of running tests/reports.</li>
		<li>Big old "run tests" button for users that pings Mark + Zack.</li>
		<li>Ability for Mark/Zack to come in and start running tests and update status.</li>
		<li>User/Company should be able to manage their stripe credit card info from their dashboard.</li>
	</ul>
</div>

<div class="row">
  <span class="pull-right">
    <button>
      Add A New Test
    </button>
  </span>
  <h3>Your Tests</h3>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Test A User Can Sign In</td>
      <td>Passing</td>
      <td><a>Edit</a></td>
      <td><a>Delete</a></td>
    </tr>
  </table>
</div>

<div class="row">
  <span class="pull-right">
    <button>
      Run A Report
    </button>
  </span>
  <h3>Reports</h3>
  <table class="table">
    <tr>
      <th>Date/Time</th>
      <th>Status</th>
      <th>Execution time</th>
    </tr>
    <tr>
      <td>2013-11-15 @ 4pm</td>
      <td>Passed</td>
      <td>17 minutes</td>
    </tr>
  </table>
</div>
