<% content_for :title do %>
Dashboard
<% end %>
	
<div class="row">
	<p>This is your dashboard. There are many like it, but this one is yours.</p>
	<p>Admin's will be able to edit and manage all user/company info. They will be able to manage all reports from here.</p>
	<p>Users should be able to keep an eye on their tests and reports.</p>
	
	<h3>To Do:</h3>
	<ul>
		<li><strike>Edit my (current user's) account info.</strike></li>
		<li><strike>Build out scaffolding for managing users &amp; companies.</strike></li>
		<li>Companies individual view pages should essentially be like viewing their dashboard (but with extra powers probably).</li>
		<li>User dashboards should list current tests in company's test suite with current status. Should also be able to view results of running tests/reports.</li>
		<li>Scope Reports Index to user or all if is_admin?</li>
		<li>Big old "run tests" button for users that pings Mark + Zack.</li>
		<li>Ability for Mark/Zack to come in and start running tests and update status.</li>
		<li>User/Company should be able to manage their stripe credit card info from their dashboard.</li>
	</ul>
</div>

<% if !current_user.is_admin? %>
  <%= render partial: "user_dash" %>
<% end %>
