<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Outpost - Automated User Testing and Quality Assurance for Mobile and Web Applications.</title>
    <meta name="author" content="Mark Bertrand">
		<meta name="viewport" content="width=600">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="http://fonts.googleapis.com/css?family=Radley:400italic,400" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "pages-index", :media => "all" %>
  </head>
  <body>
    <div class="main-container">
      <div class="main-text">
        <div class="logo">
          <h1>Outpost.</h1>
        </div>
        <div class="tagline">
          <h2>You can't fix it if you don't know it's broken.</h2>
        </div>
        <div>
          <p>Need help testing your application?<a href="mailto:info@outpostqa.com" target="_blank"> Email Us.</a></p>
        </div>
        <div class="twitter">
          <p><a href="http://twitter.com/OutpostQA" target="_blank" title="Follow us on Twitter: @OutpostQA">&nbsp;</a></p>
        </div>
      </div>
    </div>
	  <%= render 'layouts/analytics' %>
  </body>
</html>
