
<div id="marketing-page">
  <div class="row">
    <div class="col-md-12">
      <div class="center-block tagline">
        <h1>You can't fix it if you don't know it's broken.</h1>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <p>Outpost is a new QA and testing consultancy that helps you and your team be more confident when deploying new code. Whether you're a PM, a developer, designer, CEO or single founder, we all know things break. Remember that last time you deployed and didn't catch that error until days later? We are here to help you discover those bugs and errors before your customers do and you lose that conversion. We want you to get back to building faster and worrying less.</p>
    </div>
  </div>

	<hr>

  <div class="row" id="get-started">
    <div class="col-md-6 col-md-offset-3">
      <form action="http://bertcorp.createsend.com/t/i/s/awki/" method="post">
				<div class="input-group">
					<input id="fieldEmail" name="cm-awki-awki" type="email" placeholder="Email" class="form-control" required />
					<span class="input-group-btn">
						<button type="submit" class="btn btn-success">Find out more!</button>
					</span>
		    </div><!-- /input-group -->
      </form>
    </div>
  </div>
</div><!--marketing-page-->
