<div id="marketing-page">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>Thank you for your interest!</p>
      <p>Our team has been notified and will be in touch with you shortly about next steps.</p>
      <p>We look forward to working with you.</p>
      <p><%= link_to "Awesome, now take me back.", :back %></p>
    </div>
  </div>
</div>