<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-8">
      <h2 class="featurette-heading">Testing<span class="text-muted"> made easy.</span></h2>
      <p class="lead">Outpost is an on-demand automated QA and user testing service with a manual touch. Outpost converts plain english to a test suite that automates your users’ behavior to ensure you can confidently make changes to your application. Outpost helps you solve your users’ problems by making sure there are no problems with your application.</p>
    </div>
    
    <div class="col-md-4">
      <h2 class="featurette-heading"><span class="text-muted">Request A Demo.</span></h2>
      <p class="lead">//email//</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-12">
     <h2 class="featurette-heading">How it works.</h2>
    </div>
    <div class="col-lg-4">
      <h2>1.) Tell Us What to Test</h2>
      <p>We work with your team to identify each of the features you’d like to test in plain english.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>2.) We write the tests</h2>
      <p>One of our team members will be assigned to take lead on your test suite. They will write your test suite and be in contact with you with any questions. Once the test suite is complete we send a video of the tests running to ensure we meet your expectations.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>3.) Run the tests</h2>
      <p>We run the tests when you need them. Setup scheduled runs or just trigger a report from your account. When a test suite is completed a report is generated, if there were any failures the systems triggers a manual review and one of our team members will manually review the test suite to determine the cause of the failure and include this with your report.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">1.) Tell Us What to Test</h2>
      <p class="lead">We work with your team to identify each of the features you’d like to test in plain english.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">2.) We write the tests.</h2>
      <p class="lead">One of our team members will be assigned to take lead on your test suite. They will write your test suite and be in contact with you with any questions. Once the test suite is complete we send a video of the tests running to ensure we meet your expectations.</p>
    </div>
  </div>

  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">3.) Run the tests.</h2>
      <p class="lead">We run the tests when you need them. Setup scheduled runs or just trigger a report from your account. When a test suite is completed a report is generated, if there were any failures the systems triggers a manual review and one of our team members will manually review the test suite to determine the cause of the failure and include this with your report.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette text-center">
    <div class="col-md-12">
      <h2 class="featurette-heading">Pricing.</h2>
    </div>
    
       <div class="row flat">
           <div class="col-lg-3 col-md-3 col-xs-6">
               <ul class="plan plan1">
                   <li class="plan-name">
                       Basic
                   </li>
                   <li class="plan-price">
                       <strong>$100</strong> / month
                   </li>
                   <li>
                       <strong>5</strong> Test Cases
                   </li>
                   <li>
                       <strong>15</strong> Reports
                   </li>
                   <li class="plan-action">
                       <a href="#" class="btn btn-primary btn-lg">Signup</a>
                   </li>
               </ul>
           </div>

           <div class="col-lg-3 col-md-3 col-xs-6">
               <ul class="plan plan2 featured">
                   <li class="plan-name">
                       Standard
                   </li>
                   <li class="plan-price">
                       <strong>$275</strong> / month
                   </li>
                   <li>
                       <strong>15</strong> Test Cases
                   </li>
                   <li>
                       <strong>15</strong> Reports
                   </li>
                   <li class="plan-action">
                    <a href="#" class="btn btn-primary btn-lg">Signup</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-3 col-xs-6">
           <ul class="plan plan3">
               <li class="plan-name">
                   Advanced
               </li>
               <li class="plan-price">
                   <strong>$500</strong> / month
               </li>
               <li>
                   <strong>30</strong> Test Cases
               </li>
               <li>
                   <strong>15</strong> Reports
               </li>
               <li class="plan-action">
                <a href="#" class="btn btn-primary btn-lg">Signup</a>
            </li>
        </ul>
      </div>
  </div>
  <div class="col-lg-12 text-center">
    <p class="lead">Don't see something that fits your needs? We do custom plans as well. <a href="marilto:info@outpostqa.com">Let's talk.</a></p>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette text-center">
    <div class="col-md-12">
      <h2 class="featurette-heading">Interest? <span class="text-muted">Request A Demo.</span></h2>
      <p class="lead">//email//</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
  
  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2013 Bert, Corp. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</div><!-- /.container -->