<footer>
  <hr>
  <p class="footer-links">
    <span class="pull-right"><%= link_to 'Find us on Twitter', 'http://twitter.com/outpostqa' %> | <%= link_to 'Read our Blog', 'http://outpostqa.tumblr.com/' %> </span>
    &copy; <%= Time.now.year %> Bert Corp.
  </p>
</footer>